<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BotId" value="b80fd585-8552-45a5-9828-8a3d8fbe17ef" />
    <add key="BotTenantId" value="2da74040-53ba-4f78-bfec-24b9437fbfe7" />
    <add key="BotName" value="intern_pva_bot_directline" />
    <add key="BotTokenEndpoint" value="https://powerva.microsoft.com/api/botmanagement/v1/directline/directlinetoken" />
    <add key="EndConversationMessage" value="quit" />
  </appSettings>
</configuration>